.Nav {
    height: 51px;
    margin: auto;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    margin-bottom: 1%;
}

.Nav a {
    padding: 11px;
    text-decoration: none;
    font-size: 21px;
}

.Nav a:hover {
    background-color: teal;
    color: white;
}

/* Players */

.Players {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 21px;
    margin: 1%;
}

.Players>div {
    display: grid;
    place-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
    padding: 21px 0px 21px 0px;
    /* border: 1px solid red; */
}

img {
    width: 151px;
    height: fit-content;
    border-radius: 51%;
    margin-bottom: 3%;
}

.Players p {
    padding: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    /* border: 1px solid red; */
}

.Players button {
    margin-top: 3%;
    border: none;
    border-radius: 11px;
    font-weight: lighter;
    padding: 3%;
    background-color: rgb(145, 59, 145);
    color: white;
    cursor: pointer;
}

.Players button:hover {
    background-color: coral;
}

.DetailsDiv {
    /* display: none; */

    width: 50%;
    margin-top: 7px;
    margin-bottom: 7px;
    /* border: 1px solid red; */
}

.DetailsDiv p {
    text-align: start;
    margin: 7px 0px 0px 0px;
    /* border: 1px solid red; */
}

.DetailsDiv h2 {
    text-align: start;
}

/* Games */

.AllInput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;

    /* border: 1px solid red; */
}

.AllInput div {
    margin: 0px 7% 0px 7%;
    /* border: 1px solid red; */
}


.Games {
    width: 75%;
    margin: auto;
    margin-bottom: 1%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    background-color: rgb(201, 233, 223);

    /* border: 1px solid red; */
}

.Left,
.Right {
    padding: 75px;
    margin: 0px 7px 0px 7px;

    /* border: 1px solid red; */
}

.Games h2 {
    margin-top: 25%;
}

p {
    text-align: left;
}

.Result {
    display: flex;
}

.Result h3 {
    padding: 7px;
    margin-right: 7px;

    /* border: 1px solid red; */
}

.WON {
    color: green;
    background-color: rgb(251, 221, 221);
    border-radius: 7px;
}

.LOST {
    color: red;
    background-color: rgb(251, 221, 221);
    border-radius: 7px;
}

.TIE {

    color: rgb(163, 196, 96);
    background-color: rgb(251, 221, 221);
    border-radius: 7px;
}